if SHIELD_REKDACTYL2_LEFT

config ZMK_KEYBOARD_NAME
	default "REKDactyl2"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_REKDACTYL2_RIGHT || SHIELD_REKDACTYL2_LEFT

config ZMK_SPLIT
	default y

endif

if SHIELD_REKDACTYL2_LEFT || SHIELD_REKDACTYL2_RIGHT

config ZMK_SPLIT
	default y

config ZMK_IDLE_SLEEP_TIMEOUT
	int "Milliseconds of inactivity before deep sleep. 15 minutes."
	default 900000

config ZMK_SLEEP
	default y

endif