/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/*
 *  west build -b nice_nano -- -DSHIELD=corne_left -DZMK_CONFIG="/Users/rishi/Documents/GitHub/zmk-config/config"
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define QWERTY 0
#define COLEMAK 1
#define LOWER 2
#define RAISE 3
#define SYS 4
#define TRILAYER 5

/ {
        behaviors {
            hm: homerow_mods {
                label = "HOMEROW_MODS";
                compatible = "zmk,behavior-hold-tap";
                #binding-cells = <2>;
                flavor = "tap-preferred";
                tapping-term-ms = <200>;
                quick-tap-ms = <200>;
                bindings = <&kp>, <&kp>;
            };
        };

        conditional_layers {
                compatible = "zmk,conditional-layers";
                tri_layer {
                    if-layers = <LOWER RAISE>;
                    then-layer = <TRILAYER>;
                };
        };
 
        keymap {
                compatible = "zmk,keymap";

                /*
                 * Default Layer: QWERTY
                 *
                 * ,-----------------------------.                ,-----------------------------.
                 * |    |  Q  |  W  |  E  |  R  |  T  |           |  Y  |  U  |  I  |  O  |  P  |    |
                 * |----+-----+-----+-----+-----+-----|           |-----+-----+-----+-----+-----+----|
                 * |    |A/GUI|  S  |D/CTL|  F  |  G  |           |  H  |  J  |K/CTL|  L  |;/GUI|    |
                 * |----+-----+-----+-----+-----+-----|           |-----+-----+-----+-----+-----+----|
                 * |    |Z/ALT|  X  |  C  |  V  |  B  |           |  N  |  M  |  ,  |  .  |//ALT|    |
                 * `-----------------+-----+-----+-----|           |-----+-----+-----+-----------------'
                 *                   | ESC |SPC/ | TAB |           | BKSP| RET | APP |
                 *                   |     |SHFT/|/LWR |           |/RSE |/SHFT|/SYS |
                 *                   `-----+-----+-----'           `-----+-----+-----'
                 *
                 * GUI = LGUI/RGUI
                 * CTL = LCTRL/RCTRL
                 * ALT = LALT/RALT
                 * LWR = LOWER layer
                 * RSE = RAISE layer
                 * SYS = SYS layer
                 */

                default_layer {
                        bindings = <
   &none  &kp Q      &kp W      &kp E       &kp R      &kp T          &kp Y   &kp U      &kp I         &kp O      &kp P         &none
   &none  &hm LGUI A &kp S      &hm LCTRL D &kp F      &kp G          &kp H   &kp J      &hm RCTRL K   &kp L      &hm RGUI SCLN &none
   &none  &hm LALT Z &kp X      &kp C       &kp V      &kp B          &kp N   &kp M      &kp CMMA      &kp DOT    &hm RALT FSLH &none
                     &kp ESC    &hm LSFT SPC &lt LOWER TAB            &lt RAISE BKSP &hm RSFT RET &lt SYS K_APP
                        >;
                };
                colemak_layer {
                        bindings = <
   &none  &kp Q      &kp W      &kp F       &kp P      &kp G          &kp J   &kp L      &kp U         &kp Y      &kp SCLN      &none 
   &none  &hm LGUI A &kp R      &hm LCTRL S &kp T      &kp D          &kp H   &kp N      &hm RCTRL E   &kp I      &hm RGUI O    &none 
   &none  &hm LALT Z &kp X      &kp C       &kp V      &kp B          &kp K   &kp M      &kp CMMA      &kp DOT    &hm RALT FSLH &none 
                     &kp ESC    &hm LSFT SPC &lt LOWER TAB            &lt RAISE BKSP &hm RSFT RET &mo SYS 
                        >;
                };

                lower_layer {
                        bindings = <
   &none  &trans     &kp DQT    &kp LPAR    &kp RPAR   &kp AT         &trans  &kp N7     &kp N8        &kp N9     &trans        &none  
   &none  &kp LS(P)  &kp SQT    &kp LBKT    &kp RBKT   &kp UNDER      &kp STAR &kp N4    &kp N5        &kp N6     &kp RET       &none  
   &none  &kp QMARK  &kp DLLR   &kp LBRC    &kp RBRC   &kp HASH       &kp FSLH &kp N1    &kp N2        &kp N3     &kp RET       &none  
                     &trans     &trans      &trans                    &lt RAISEDEL  &kp N0    &kp DOT
                        >;
                };
                
                raise_layer {
                        bindings = <
   &none  &kp BSLH   &kp EXCL   &kp TILDE   &kp AMPS   &kp GRAVE      &kp HOME &kp PG_UP &kp PG_DN     &kp END    &trans        &none
   &none  &kp FSLH   &kp MINUS  &kp EQL     &kp PLUS   &kp STAR       &kp LEFT &kp DOWN  &kp UP        &kp RIGHT  &trans        &none
   &none  &kp PRCT   &kp LT     &kp PIPE    &kp GT     &kp CRRT       &trans   &trans    &trans        &kp LC(MINUS) &kp LC(EQL) &none
                     &trans     &trans      &lt LOWER TAB             &trans   &trans    &trans
                        >;
                };

                sys_layer {
                        bindings = <
   &trans &trans     &trans     &trans      &tog QWERTY &tog COLEMAK  &none    &kp F7    &kp F8        &kp F9     &kp F12       &trans
   &trans &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none &kp F4  &kp F5        &kp F6     &kp F11       &trans
   &trans &bt BT_CLR &trans     &out OUT_USB &out OUT_BLE &trans      &trans   &kp F1    &kp F2        &kp F3     &kp F10       &trans
                     &trans     &trans      &trans                    &trans   &trans    &trans
                        >;
                };

                tri_layer {
                        bindings = <
   &none  &none      &none      &none       &none      &kp LS(LC(N4)) &none    &none     &none         &none      &none         &none
   &none  &none      &none      &none       &none      &kp LS(LC(N3)) &none    &none     &none         &none      &none         &none
   &none  &none      &none      &none       &none      &none          &none    &none     &none         &none      &none         &none
                     &none      &none       &none                     &none    &none     &none         
                        >;
                };
        };
};
